h2 {
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .procrast-list {
    display: none;
  }
  .filter-div {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
    gap: 0;
  }
}
