<div
  class="flex justify-between gap-10 py-5 px-6 cursor-pointer hover:bg-gray-100 relative border-b border-gray-200"
>
  <div
    class="border-l-4 pl-4"
    [class]="{
      'border-gray-200': todo.status === 'New',
      'border-blue-100': todo.status === 'In Progress',
      'border-red-200': todo.status === 'Done'
    }"
  >
    <h4 class="font-bold">{{ todo.title }}</h4>
    <p class="text-gray-400 h-6 overflow-y-hidden">{{ todo.description }}</p>
  </div>
  <div class="flex gap-2 justify-center items-center">
    <button mat-stroked-button color="primary" (click)="editTodo(todo)">
      Edit
    </button>
    <button mat-stroked-button color="warn" (click)="deleteTodo(todo.id!)">
      Delete
    </button>
    <div
      *ngIf="todo.status === 'New'"
      class="bg-gray-100 border border-gray-500 text-gray-600 text-xs font-medium p-1 px-2 rounded-full h-auto"
    >
      {{ todo.status }}
    </div>
    <div
      *ngIf="todo.status === 'In Progress'"
      class="bg-blue-100 border border-blue-500 text-blue-600 text-xs font-medium p-1 px-2 rounded-full"
    >
      {{ todo.status }}
    </div>
    <div
      *ngIf="todo.status === 'Done'"
      class="bg-green-100 border border-green-500 text-green-600 text-xs font-medium p-1 px-2 rounded-full"
    >
      {{ todo.status }}
    </div>
  </div>
</div>
